* {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.cv-block {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

header {
    position: relative;
    height: 35vh;
    min-height: 10rem;
}
li{
    padding-left: 3px;
}
footer {
    padding-top: 20px;
    position: relative;
    height: 1vh;
    min-height: 3.8rem;
}
.img-prof {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 60%;
    border-radius: 50%;
    border: 2px solid black;
}
.img-link{
    padding-right: 20%;
    width: 10%;
}
.code{
    background:ghostwhite;
    font-size: 75%;
    font-family: "Major Mono Display", monospace;
}
.code-section{
    background:ghostwhite;
}
.header-box {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}


h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
    margin-top: 1.1em;
}



